<% if Complete.exists?(id: @complete.id) %>
  $('.flash').html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= @msg %></div>");
  $('#item-<%= @item.id %>-complete').html("<%= escape_javascript(link_to "", [@item, @complete], method: :delete, remote: true, class: 'glyphicon glyphicon-ok', style: 'float: left; color: #449d44;') %>")
<% else %>
  $('.flash').html("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= @msg %></div>");
<% end %>
