<div class="panel-heading">
  <h3 class="panel-title">Add a new item to do</h3>
</div>
<div class="panel-body">
  <%= form_for [current_user, item], remote: true, html: { class: 'form-inline' } do |f| %>
    <div class="form-group">
      <%= f.label :name, class: 'sr-only' %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter a new item to do', style: 'width: 600px;' %>
    </div>
    <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
      Submit
    <% end %>
  <% end %>
</div>
