<%= content_tag :li, class: 'list-group-item', id: "item-#{item.id}" do %>
  <span class="badge"><%= distance_of_time_in_words(Time.now, item.created_at) %> ago</span>
  <%= render partial: 'completes/complete', locals: { item: item } %>
  <p style='margin-left: 30px;'><%= item.name %></p>
<% end %>
