<% items = current_user.items.select {|i| i.completes.any? } %>
<% if items.empty? %>
  <% @items.each do |i| %>
    $('#item-<%= i.id %>').hide();
  <% end %>
  $('.flash').html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= @msg %></div>");
<% else %>
  $('.flash').html("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= @msg %></div>");
<% end %>
