/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import 'bootswatch/lumen/variables';
@import "bootstrap";
@import 'bootswatch/lumen/bootswatch';

body {
  background: url(../img/bg.jpg) top left repeat;
}

.user-info {
  margin-top: 10px;
}

.jumbotron {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(/img/main.png) 100% 40%;
  background-size: cover;
  color: #fff;
}

// Custom Styling
.text-faded {
  color: #aaa;
}

a:hover, a:focus {
  text-decoration: none;
}

.hover-link {
  a {
    color: #333;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;

    &:hover {
      color: #1397ff;
      text-decoration: none;
    }
  }
}

#steps {
  li {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  // Override hove-link for bootstrap buttons
  a.btn {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  code {
    display: block;
  }
}