// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
  margin: 20px auto;
  max-width: 1000px;
}

.user-profile h3 {
  margin-top: 0
}

.gravatar_lg {
  border-radius: 5px;
}
